* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* Added Font */
    /* Instead of using that translate stuff to center it I used flex :D */
    /* Then set the height to 100 viewport height so every thing shows */
}

.container{
    /* position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%); */
    /* Flexbox on the body tag has taken care of this stuff */


	padding: 30px;
	border-radius: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    width: 50%;
}


h4 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin-bottom: 10px;
}
/* strong {
    clear: left;
} */

header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 20px;
}

header div{
    display: flex;
    gap: 10px;
}

/* button */ .btn{
    background: rgb(27, 16, 102);
    color: white;
    width: 30px;
    height: 20px;
    font-weight: 600;
    border-radius: 3px;
}

h5 {
    color: rgb(34, 34, 233);
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

a {
    font-family: sans-serif;
    color: rgb(150, 150, 150);
    text-decoration: none;
}


.notifications{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification {
    background: rgb(234, 234, 241);
    border-radius: 9px;
    display: flex;
    gap: 15px;
    padding: 7px 10px;
}

.notification .description{
    display: flex;
    flex-direction: column;
    gap: 3px;
}


/* .pm  changed to message*/ .message{
    background: rgb(181, 181, 205);
    border-radius: 7px;
    padding: 10px;
    /* margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px ;
    padding-top: 5px;
    padding-left: 4px; */
}
/* small {
    padding-left: 45px;
    margin-bottom: 10px;
} */